*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #666;
	cursor:  pointer;
}
ul,li{
	list-style: none;
}
body{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.container{
	width:300px;
	margin:20px auto;
}
.homepage{
	width: 80%;
	margin: 10px auto;
	border-bottom: 1px solid #eee;
}
.homepage h2{
	margin: 10px 0 20px;
}
.homepage-link{
	display: block;
	margin: 5px 0;
	line-height: 30px;
}
.homepage-link i{
	display: inline-block;
	background-repeat: no-repeat;
	margin-right: 10px;
}
.homepage-name{
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 16px;
}
.column-homepage-link i{
	background-position: 0 0;
	background-image: url("../images/sprites.png");
	width: 25px;
	height: 25px;
}
.live-homepage-link i{
	background-image: url("../images/live.png");
	width: 25px;
	height: 25px;
	-webkit-background-size: cover;
	background-size: cover;
}
.roundTable-homepage-link i{
	background-image: url("../images/roundTable.jpg");
	width: 25px;
	height: 25px;
	-webkit-background-size: cover;
	background-size: cover;
}
.bookShop-homepage-link i{
	background-image: url("../images/bookshop.png");
	width: 25px;
	height: 25px;
	-webkit-background-size: cover;
	background-size: cover;
}